@mixin transform($prop) {
  transform: $prop;
  -webkit-transform: $prop; //safari
  -moz-transform: $prop; //mozilla
  -o-transform: $prop; //opera
  -ms-transform: $prop; //internet explorer, edge
}

