$primary-color: #ababab;
$secondary-color: darken($primary-color, 10%);
$tertiary-color: lighten($primary-color, 10%);
$main-orange: rgb(199, 136, 20);

$main-radius: 15px;
$main-font: "Open Sans", sans-serif;
$sec-font: "Lato", sans-serif;